Source: ros-hydro-rosruby
Section: misc
Priority: extra
Maintainer: Takashi Ogura <t.ogura@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libruby1.8, rake, ros-hydro-catkin, ros-hydro-genmsg, ros-hydro-genrb, ros-hydro-message-generation, ros-hydro-rosgraph-msgs, ros-hydro-rosmsg, ros-hydro-std-msgs, ruby1.8-dev, rubygems1.8
Homepage: http://wiki.ros.org/rosruby
Standards-Version: 3.9.2

Package: ros-hydro-rosruby
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-genmsg, ros-hydro-genrb, ros-hydro-rosgraph-msgs, ros-hydro-roslang, ros-hydro-rosmsg, ros-hydro-std-msgs
Description: This package is a Ruby client library for ROS, the Robot Operating System.
